/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
    --ifm-color-primary: #56A0D3;
    --ifm-color-primary-dark: #3d90cb;
    --ifm-color-primary-darker: #3488c5;
    --ifm-color-primary-darkest: #2b70a3;
    --ifm-color-primary-light: #6fb0db;
    --ifm-color-primary-lighter: #78b6de;
    --ifm-color-primary-lightest: #9dcaea;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --simpsons-yellow: #FDD835;
    --simpsons-yellow-dark: #F9C400;
    --simpsons-blue: #56A0D3;
    --simpsons-sky: #7BC8F6;

    --cronograma-presencial-bg: #e0f4fc;
    --cronograma-presencial-text: #2b70a3;
    --cronograma-virtual-bg: #fce8ec;
    --cronograma-virtual-text: #b84d6a;
    --cronograma-sin_definir-bg: #f1f5f9;
    --cronograma-sin_definir-text: #64748b;

    --cronograma-primary-bg: var(--ifm-color-primary-lightest);
    --cronograma-primary-text: #2b70a3;
    --cronograma-info-bg: #e0f7f4;
    --cronograma-info-text: #0d5c4d;
    --cronograma-warning-bg: #fef9c3;
    --cronograma-warning-text: #8b6914;
    --cronograma-danger-bg: #fce8ea;
    --cronograma-danger-text: #e85d6a;

}

.yellow-text {
    color: var(--simpsons-yellow);
}

@import "./cronograma.css";