/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Simpsons-themed color palette */
:root {
    --ifm-color-primary: #56A0D3;
    --ifm-color-primary-dark: #3d90cb;
    --ifm-color-primary-darker: #3488c5;
    --ifm-color-primary-darkest: #2b70a3;
    --ifm-color-primary-light: #6fb0db;
    --ifm-color-primary-lighter: #78b6de;
    --ifm-color-primary-lightest: #9dcaea;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    --simpsons-yellow: #FDD835;
    --simpsons-yellow-dark: #F9C400;
    --simpsons-blue: #56A0D3;
    --simpsons-sky: #7BC8F6;
}

.yellow-text {
    color: var(--simpsons-yellow);
}
